train_df.csv

index : 인덱스  
SEND_SPG_INNB : 송하인_격자공간고유번호  
REC_SPG_INNB : 수하인 격자공간고유번호  
DL_GD_LCLS_NM : 카테고리_대  
DL_GD_MCLS_NM : 카테고리_중  
INVC_CONT : 운송장 건 수  




test_df.csv

index : 인덱스  
SEND_SPG_INNB : 송하인_격자공간고유번호  
REC_SPG_INNB : 수하인 격자공간고유번호  
DL_GD_LCLS_NM : 카테고리_대  
DL_GD_MCLS_NM : 카테고리_중  




sample_submission.csv

index : 인덱스  
INVC_CONT : 운송장 건 수  
 

※ 데이터 수집 시점 : 20년 01월

In [4]:
import os
import pandas as pd

In [15]:
def get_dataset():
    train = pd.read_csv('data/train_df.csv', encoding='cp949')
    test = pd.read_csv('data/test_df.csv', encoding='cp949')
    sub = pd.read_csv('data/sample_submission.csv')
    return train, test, sub

In [16]:
train, test, sub = get_dataset()

In [17]:
train.head()

,index,SEND_SPG_INNB,REC_SPG_INNB,DL_GD_LCLS_NM,DL_GD_MCLS_NM,INVC_CONT
0,0,1129000014045300,5011000220046300,패션의류,상의,3
1,1,1135000009051200,5011000178037300,생활/건강,반려동물,3
2,2,1135000030093100,5011000265091400,패션의류,기타패션의류,9
3,3,1154500002014200,5011000315087400,식품,농산물,10
4,4,1165000021008300,5011000177051200,식품,가공식품,3

In [18]:
test.head()

   index     SEND_SPG_INNB      REC_SPG_INNB DL_GD_LCLS_NM DL_GD_MCLS_NM
0  32000  5013000043028400  1165000021097200            식품           농산물
1  32001  5013000044016100  1154500002066400            식품           농산물
2  32002  5013000205030200  4139000102013200            식품           농산물
3  32003  5013000205030200  4221000040093400            식품           농산물
4  32004  5013000268011400  2726000004017100            식품           농산물